{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}
{% block body %}
<main class="register-page">
    {{ form_start(RegisterTypeForm, {'attr': {'class': 'register-form'}}) }}
    {{ form_widget(RegisterTypeForm) }}
    <button class="btn btn-register" type="submit">Valider</button>
    {{ form_end(RegisterTypeForm) }}
</main>
{% endblock %}