@use '../abstracts/variables' as v;
@use '../abstracts/mixins';



.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-color: v.$dark;
  color: v.$light;

  &__content {
    max-width: 50%;
    h1 {
      font-size: 3rem;
      font-family: v.$font-heading;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .hero__subtitle {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      color: lighten(v.$light, 10%);
    }
  }

  .btn {
    background: none;
    border: 2px solid v.$green;
    color: v.$green;
    padding: 0.75rem 1.5rem;
    font-family: v.$font-heading;
    text-transform: uppercase;
    border-radius: v.$radius;
    @include mixins.transition(all);

    &:hover {
      background-color: v.$green;
      color: v.$light;
    }
  }
}

.main-nav {
  margin-top: 2rem;
  text-align: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      text-transform: uppercase;
      font-family: v.$font-heading;
      color: v.$light;
      @include mixins.transition(color);

      &:hover {
        color: v.$green;
      }
    }
  }
}